html, body {
  overflow-x: hidden;
}

body{font-family:  'Patrick Hand', 'Bradley Hand ITC', cursive;
    margin-left: 30px;
    color: white;
    background-color: rgb(2, 2, 2);
}

#n1{
    display: flex;
    align-items: center;
    color:  blueviolet;
    background-color: rgba(0, 0, 0, 0.7);
    max-height: 100px;
    position: fixed;
    border-radius: 10px;
    border: groove;
    border-color: blueviolet;
    margin-left: 60px;
    
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 23px;
}
 li:hover{
    color:rgb(142, 227, 142);
    transform: translatex(-5px);
    
}
.logo{
    margin-top: 20px;
    
}
 #logo1 {
  height: 300px;
  width: 300px;
}
#lp1{
    font-weight:bolder;
    font-size: 35px;
     font-weight: 900;
      text-shadow: 0.5px 0 currentColor;
      margin: 100px;
      box-shadow: 25px 10px 30px -25px green;
      max-width: 60em;
      border-radius: 100px;
      
}
#lp3{
    font-size: 27px;
     

}
.hi{
    height: 640px;
    width: 460px;
    margin-top: -460px;
    margin-left:800px ;
   font-family:  'Patrick Hand', 'Bradley Hand ITC', cursive;

   
}
#k{
    margin-top: 160px;
}
.btn{
    padding: 8px 20px;
    max-height: 44px;
    border-radius: 20px;
    border-style: groove ;
    margin-top: 14px;
    font-size: 20px;
    background-color:blueviolet;
    color: white;
    margin-left: 180px;
    margin-right: 30px;
    border-color:orangered;
}
.btn:hover{
    transform: translatex(3px);
     background-color: white;
 color:blueviolet;

}
.btn2{
 padding: 8px 30px;
    max-height: 50px;
    border-radius: 20px;
    border-style: ridge ;
    margin-top: 14px;
    font-size: 20px;
    background-color: blueviolet;
    color: white;
    border-color:orangered;
}
    


.btn2:hover{
 transform: translatex(-3px);
 background-color: white;
 color:blueviolet;
 
}
#p2{
    text-align: center;
    margin-top: -100px;
}
h1,h2{
     color:blueviolet;
     font-size: 50px;
}
.w1{
    font-size: 28px;
}
#card1,#card2,#card3,#card4{
    background-color:black;
    max-width: 130px;
    max-height: 90px;
    padding: 30px 8px;
    margin: 10px;
    display: flex;
    
    border-radius:10px ;
    border: groove;
    font-size: 20px;
   
}
#card1:hover{
    transform: translateY(-12px);
}
#card2:hover{
    transform: translateY(-12px);
}
#card3:hover{
    transform: translateY(-12px);
}
#card4:hover{
    transform: translateY(-12px);
}
#card1{
     box-shadow: -20px -20px 30px -15px purple;
      border-color: purple;
      color:  purple;
}
#card2{
     box-shadow: -10px -20px 30px -15px rgb(7, 169, 105);
     border-color:  rgb(7, 169, 105);
     color:  rgb(7, 169, 105);
}
#card3{
    padding-bottom: 57px;
    max-width: 2000px;
    text-align: center;
    box-shadow: -10px -20px 30px -15px rgb(232, 124, 232);
    border-color:rgb(232, 124, 232);
    color: rgb(232, 124, 232);;
}
#card4{
    padding-bottom:30px ;
    box-shadow: -10px -20px 30px -15px rgb(207, 138, 60);
    border-color: rgb(207, 138, 60);
    color:  rgb(207, 138, 60);
}
.card-links{
    display: flex;
    list-style: none;
    text-align: center;
    margin: 70px;
    margin-left: 230px;
}
 .logo2 {
  height: 250px;
  width: 300px;
  margin-right: 210em;
  margin-bottom: -120px;
  margin-top: 30px;
}
hr{
    color: green;
}